<div class="icon-container">
  <img
    src="https://res.cloudinary.com/dez6wqxm3/image/upload/v1653484685/site/svyatie/sergiy-radonezsky_nzt0dw.jpg"
    alt="Sergiy Radonezskiy"
    class="app-main-icon">
</div>
<div class="divider">
  <img src="/assets/ornaments/thin-divider.png" alt="divider">
</div>
<p class="tropar">
  Процвел еси, яко финикс, Давидски, отче, и обитель явился еси Духа Всесвятаго, Иже славна тя вселенней показа, о нас непрестанно Христа моли, почитающих верою пречестную память твою, преподобне Сергие.
</p>
<div class="divider">
  <img src="/assets/ornaments/divider-top-to-bottom.png" alt="divider">
</div>

<div class="calendar-wrapper">
  <app-calendar-viewer [currentDate]="true"></app-calendar-viewer>
</div>
