:host {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .app-sidenav {
    flex: 1 0;

    mat-drawer {
      background-color: #006400;

      .nav-divider {
        width: 100%;
        background-color: #006400;

        &:first-child {
          position: sticky;
          top: 0;
          z-index: 1;
        }

        img {
          display: block;
          max-width: 100%;
        }
      }

      .nav-side-calendar {
        padding: 15px;
      }

      .navigation-list {
        margin: 0;
        list-style: none;
        max-width: 240px;
        padding: 20px 0;

        .navigation-item {

          .navigation-item-link {
            display: block;
            padding: 10px 10px 10px 20px;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 1px;
            color: #ffffff;

              &.active-route {
                background: rgba(255, 255, 255, .3);
                text-shadow: 1px 0px black;
              }
            }
          }
        }
      }
    }

  .app-public-content {
    background-image: url('/assets/backgrounds/wheat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 0 15px;
  }
}

// ::ng-deep .app-sidenav mat-drawer .mat-drawer-inner-container {
//   // padding: 10px;
// }
