:host {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;

  .admin-panel-header {
    display: flex;
    align-items: center;
    padding: 15px 15px 10px;
    background: linear-gradient(to top, #cfcfcf, transparent);

    button,
    .admin-panel-header-title {
      margin-right: auto;
    }

    .admin-panel-header-title {
      font-family: 'Ponomar Unicode';
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      line-height: 24px;
    }
  }

  .admin-sidenav {
    flex: 1 0;
    background-color: transparent;

    mat-drawer {
      background-color: #5353f7;
      backdrop-filter: blur(5px);

      .admin-dashboard__nav-section {
        padding-top: 20px;

        .admin-dashboard__nav {
          height: 100%;
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;

          .admin-dashboard__nav-list {
            width: 100%;
            height: auto;
            list-style: none;
            padding: 0;
            margin: 0;

            .admin-dashboard__nav-item {
              margin-bottom: 10px;

              a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                text-decoration: none;
                color: #ffffff;
                padding: 10px 0 10px 20px;

                &.active,
                &:hover {
                  color: #6495ed;
                  background-color: rgba(255, 255, 255, .84 );
                }

                span {
                  font-size: 18px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }

    mat-drawer-content {
      padding: 0 20px;

      .admin-dashboard__content {
        .no-section-loaded {
          .info {
            text-transform: uppercase;
            text-align: center;
            margin: 12px 0;
          }
        }
      }
    }
  }
}
