<header class="admin-panel-header">
  <button mat-icon-button (click)="adminSideNav.toggle()" class="panel-toggle">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="admin-panel-header-title">аминистрирование сайта</span>
</header>
<mat-drawer-container hasBackdrop="true" class="admin-sidenav">
  <mat-drawer #adminSideNav="matDrawer">
    <section class="admin-dashboard__nav-section">
      <nav class="admin-dashboard__nav">
        <ul class="admin-dashboard__nav-list">
          <li class="admin-dashboard__nav-item">
            <a
              matTooltip="Статьи"
              matTooltipPosition="right"
              [routerLink]="['articles']"
              [routerLinkActive]="'active'">
              <mat-icon>article</mat-icon>
              <span>Articles</span>
            </a>
          </li>
          <li class="admin-dashboard__nav-item">
            <a
              matTooltip="Рассписания служб"
              matTooltipPosition="right"
              [routerLink]="['timetables']"
              [routerLinkActive]="'active'">
              <mat-icon>view_timeline</mat-icon>
              <span>Timetables</span>
            </a>
          </li>
          <li class="admin-dashboard__nav-item">
            <a
              matTooltip="Проповеди"
              matTooltipPosition="right"
              [routerLink]="['preachings']"
              [routerLinkActive]="'active'">
              <mat-icon>topic</mat-icon>
              <span>Preachings</span>
            </a>
          </li>
          <li class="admin-dashboard__nav-item">
            <a
              matTooltip="Изречения дня"
              matTooltipPosition="right"
              #rla="routerLinkActive"
              [routerLink]="['sayings']"
              [routerLinkActive]="'active'">
              <mat-icon>menu_book</mat-icon>
              <span>Sayings of the day</span>
            </a>
          </li>
          <li class="admin-dashboard__nav-item">
            <a
              matTooltip="На главную"
              matTooltipPosition="right"
              #rla="routerLinkActive"
              [routerLink]="['/home']"
              [routerLinkActive]="'active'">
              <mat-icon>home</mat-icon>
              <span>Home page</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </mat-drawer>
  <mat-drawer-content>
    <section class="admin-dashboard__content">
      <router-outlet #dashboardContentOutlet="outlet"></router-outlet>
      <div *ngIf="!dashboardContentOutlet.isActivated"  class="no-section-loaded">
        <p class="info">select the content section on the left side of the menu</p>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
