:host {
  display: block;
  background-image: url('/assets/backgrounds/wheat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
