:host {
  .grid-content-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 320px));
    grid-auto-rows: auto;
    padding: 15px;

    .content-card {
      background-color: #eeeeee;
      box-shadow: 5px 5px 5px 0px #3232328f;
      border-radius: 10px;
      overflow: hidden;

      &.public {
        background-color: rgba($color: #ffffff, $alpha: 0.2);
        backdrop-filter: blur(5px);
      }

      .card-header {
        display: flex;
        align-items: center;
        min-height: 40px;
        padding: 5px;

        .tile-header-button {
          border: 1px solid #ffffff;
          border-radius: 3px;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }

        .header-content-type {
          margin-left: auto;
        }
      }

      .content-image {

        .item-image {
          display: block;
          max-width: 100%;
          aspect-ratio: 1/1;
          object-position: center;
          object-fit: cover;
        }
      }

      .content-description {
        padding: 15px;

        .content-create {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
        }

        .edit {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}