:host {
  .grid-content-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 320px));
    grid-auto-rows: auto;
    justify-content: space-between;
    // padding: 15px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    .content-card {
      background-color: #eeeeee;
      box-shadow: 5px 5px 5px 0px #3232328f;
      border-radius: 10px;
      overflow: hidden;

      &.public {
        background-color: rgba($color: #f5deb3, $alpha: 0.5);
        backdrop-filter: blur(5px);
      }

      .card-header {
        display: flex;
        align-items: center;
        padding: 10px;

        .tile-header-button {
          border: 1px solid #ffffff;
          border-radius: 3px;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }

        .header-content-type {
          margin-left: auto;
        }
      }

      .content-image {

        .item-image {
          display: block;
          width: 100%;
          aspect-ratio: 1;
          object-position: center;
          object-fit: contain;
          background: linear-gradient(90deg, #c0c0c0, transparent, transparent 10% 90%, transparent,  #c0c0c0);
          backdrop-filter: brightness(0.5);
          margin: 0 auto;
          // url(/assets/backgrounds/no-image.svg) 50% 50% / 75% 75% no-repeat,
        }
      }

      .content-description {
        padding: 15px;

        .title {
          background: linear-gradient(0deg, brown 1px, transparent 1px);

          a {
            font-family: "Ponomar Unicode";
            font-size: 24px;
            line-height: 32px;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            overflow: hidden;
            color: rebeccapurple;

            &::first-letter {
              color: #76091b;
            }
          }
        }

        .content-create {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
          font-size: 18px;
          font-family: "Ponomar Unicode";
          color: rebeccapurple;

          .author,
          .created-at {
            &::first-letter {
              font-family: 'Vertograd Unicode';
              color: #76091b;
            }

            strong {
              letter-spacing: 1px;
            }
          }

          .author {}

          .created-at {}
        }

        .edit {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}