<div class="assets-selection-container">
  <mat-form-field appearance="fill" class="select-directory-form-field">
    <mat-label>Select asset directory</mat-label>
    <mat-select [formControl]="selectAsset" [disableOptionCentering]="true" panelClass="panel-position">
      <ng-container *ngIf="assetDirectoryList$ | async; let response;">
        <mat-option *ngFor="let directory of response.folders" [value]="directory.name">{{translate.get(directory.name) || directory.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="img-url-form-field">
    <mat-label>Select an image to copy URL...</mat-label>
    <mat-select [formControl]="imgUrlSelect" [disableOptionCentering]="true" panelClass="panel-position" class="image-select">
      <mat-select-trigger>
        <div class="select-trigger-container">
          <img
            [src]="null != imgUrlSelect.value ? imgUrlSelect.value.url : ''"
            [alt]="null != imgUrlSelect.value ? imgUrlSelect.value.context.alt : ''">
          <span class="select-trigger-content__description">
              {{null != imgUrlSelect.value ? imgUrlSelect.value.context.caption : ''}}
            </span>
        </div>
      </mat-select-trigger>
      <ng-container *ngFor="let imgSource of imageLIst">
        <mat-option [value]="imgSource" class="img-source-option">
          <div class="option-content__container">
            <img [src]="imgSource.url" [alt]="imgSource.context.alt">
            <span class="option-content__description">
              {{imgSource.context.caption}}
            </span>
          </div>
        </mat-option>
      </ng-container>
    </mat-select>
    <button
      mat-icon-button
      matTooltip="Click to copy the URL of the selected image"
      matTooltipPosition="right"
      matSuffix
      [disabled]="!imageLIst.length"
      [cdkCopyToClipboard]="imgUrlSelect.value?.url"
      (click)="$event.stopImmediatePropagation()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</div>


<form [formGroup]="editorForm" class="editor-form" (ngSubmit)="postContent()">
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [colorPresets]="colorPresets" class="sticky-editor-menu"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [outputFormat]="'doc'"
      formControlName="editorContent"
      [placeholder]="'Type here...'"
    ></ngx-editor>
  </div>
  <button mat-raised-button color="primary" type="submit" class="editor-form__post-button">Post Content</button>
</form>