<h2 class="calendar-component-header">православный календарь</h2>
<div class="holiday-symbols">
  <div class="parchment"></div>
  <h2 class="holiday-list-title">разряды праздников</h2>
  <ul class="holiday-symbols-list">
    <ng-container *ngFor="let symbol of symbolList">
      <li class="holiday-symbols-list-item">
        <img [src]="symbol.symbolSrc" [alt]="symbol.description">
        <span class="description">{{symbol.description}}</span>
      </li>
    </ng-container>
  </ul>
</div>
<div class="calendar-divider top-divider"></div>

<ng-container *ngIf="calendarContent$ | async; let html;">
  <div class="calendar-wrapper">
    <div class="parchment"></div>
    <div class="calendar-content" [innerHtml]="html"></div>
    <div class="calendar-divider"></div>
  </div>
  <svg>
    <filter id="wavy2">
      <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1" />
      <feDisplacementMap in="SourceGraphic" scale="20" />
    </filter>
  </svg>
</ng-container>
