:host {
  display: block;

  .calendar-component-header {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Ponomar Unicode';
    letter-spacing: 1px;
    color: #8f5922;
    margin: 30px 0;
  }

  .holiday-symbols {
    .holiday-list-title {
      font-family: 'Ponomar Unicode', sans-serif;
      font-size: 32px;
      text-align: center;
      color: #8f5922;
      position: relative;
      z-index: 1;
      margin: 16px 0;

      &::first-letter {
        font-family: 'Vertograd Unicode';
        color: #740808;
      }
    }
    .holiday-symbols-list {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      padding: 0 40px;
      @media screen and (max-width: 1200px) {
        padding: 0 20px;
      }

      .holiday-symbols-list-item {
        display: flex;
        align-items: center;
        font-family: 'Ponomar Unicode', sans-serif;
        font-size: 20px;
        color: palegoldenrod;
        margin-left: 20px;
        padding: 15px 0;


        img {
          margin-right: 10px;
          filter: drop-shadow(2px 4px 2px black);
        }

        span.description {
          margin-top: 5px;
          text-shadow: 1px 1px 5px black;

          &::first-letter {
            font-family: 'Vertograd Unicode';
            color: #740808;
          }
        }
      }
    }
  }

  .holiday-symbols,
  .calendar-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid transparent;

    .parchment {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 2px 3px 20px rgb(0 0 0 / 4%), 0 0 125px #8f5922 inset;
      background: #fad4a9;
      filter: url('/assets/backgrounds/papyrus-filter.svg#wavy2');
    }
  }

  .calendar-divider {
    background-image: url('/assets/ornaments/ajure.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    position: relative;
    z-index: 1;
    margin: 20px 0;

    &.top-divider {
      background-image: url('/assets/ornaments/thin-divider.png');
      height: 30px;
    }
  }

  .calendar-wrapper {
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      aspect-ratio: 1/1;
      width: 15vw;
      z-index: 1;
    }

    &::before {
      background-image: url('/assets/ornaments/corner_left.png');
      top: 10px;
      left: 10px;
    }

    &::after {
      background-image: url('/assets/ornaments/corner_right.png');
      top: 10px;
      right: 10px;
    }

    .calendar-content {
      position: relative;
      padding: 30px;
      z-index: 1;

      ::ng-deep .pdataheader {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Ponomar Unicode';
        line-height: 35px;
        color: #8f5922;
      }

      ::ng-deep .pheaderheader {
        .headerheader {
          display: flex;
          justify-content: space-evenly;
          font-weight: 500;
          margin: 30px 0;

          .headerfast:empty {
            display: none;
          }
        }
      }

      ::ng-deep .pscriptureheader,
      ::ng-deep .ptroparionheader {
        text-align: center;
        margin: 30px 0;
      }

      ::ng-deep .pscriptureheader + .normaltext {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
      }

      ::ng-deep .ptroparionheader + .normaltext {
        p > b {
          font-family: 'Ponomar Unicode';
          font-size: 16px;
          color: #8f5922;
        }
      }

      ::ng-deep .scriptureheader,
      ::ng-deep .troparionheader {
          font-size: 25px;
          font-weight: bold;
          font-family: 'Ponomar Unicode';
        }
    }
  }
}

:host(.current-date) {
  ::ng-deep .ptroparionheader {
    display: none;
  }

  ::ng-deep .ptroparionheader + .normaltext {
    display: none;
  }

  ::ng-deep .troparionheader {
    display: none;
  }
}
