:host {
  display: block;
  height: 70px;
  line-height: 70px;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  backdrop-filter: blur(5px);
  background-image: url('/assets/ornaments/ttl.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 15px;

  @media screen and (min-width: 541px) {
    background-size: contain;
    background-position: bottom center;
  }

  .app-menu-button {
    height: auto;
    width: auto;
    color: goldenrod;

    mat-icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      text-shadow: 1px 1px lightgoldenrodyellow;
    }
  }
}
