:host {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  gap: 5px;

  a, mat-slide-toggle, button {
    width: 40px;
    height: 40px;
    border: 1px solid #4169e1;
    border-radius: 3px;
    box-sizing: border-box;
  }
}
