<section *ngIf="contentList$ | async; let contentList; else warningTemplate;" class="content-list">
  <ng-container [ngSwitch]="contentList.length > 0">
    <div *ngSwitchCase="true" class="content-list__add-new">
      <a [routerLink]="['add-new']" *ngIf="contentSection$ | async; let sectionParams">Add new {{sectionParams['sectionId']}}</a>
      <app-grid-list [contentList]="contentList"></app-grid-list>

    </div>
    <div *ngSwitchDefault class="default-content">
      <p>No content has been created for this section yet</p>
      <p>Use the button below to add content for the section</p>
      <p>
        <a [routerLink]="['add-new']" *ngIf="contentSection$ | async; let sectionParams">Add new {{sectionParams['sectionId']}}</a>
      </p>
    </div>
  </ng-container>
</section>
<ng-template #warningTemplate>
  <div class="default-content">
    <p *ngIf="contentSection$ | async; let sectionParams">Section named <span class="wrong-name-section">{{sectionParams['sectionId'] || undefined}}</span> does not exist in the database</p>
    <p>Check the URL path or select the correct section from the navigation menu on the left</p>
  </div>
</ng-template>
